<!-- app/views/home/index.html.erb -->
<main>
  <h1 class="visually-hidden">Home</h1>
  <% if session[:userinfo].present? %>
    <h1>ORGANIZATIONAL AND LEADERSHIP EFFECTIVENESS INVENTORY</h1>
    <h2>Welcome <%= session[:userinfo]['name'] %></h2>
    <hr>
    <h3>Profile</h3>
    <% if @survey_profile.present? %>
      <%= render @survey_profile %>
    <%end%>
    <h3>Survey Responses</h3>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Created at</th>
            <th>Invited by</th>
            <th>Invite Token</th>
            <th>Actions</th>
          </tr>
        </thead>
        <% if !@survey_responses.nil?%>
          <tbody>
            <% @survey_responses.zip(@invitations).each do |response, invited_by| %>
              <tr>
                <td><%= response.created_at %></td>
                <td><%= invited_by %></td>
                <td><%= invite_token(response)%></td>
                <td><%= link_to "Show", survey_response_path(response) %></td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
    <%= link_to "Take Survey", new_survey_response_path, class: "btn btn-outline-primary"%>
  <% else%>
    <h1>Welcome.</h1>
    <h1>You are not logged in. Please login.</h1>
  <% end %>
</main>
