<!-- app/views/home/index.html.erb -->
<main>
  <h1 class="visually-hidden">Home</h1>
  <% if session[:userinfo].present? %>
    <h1><%= session[:userinfo]['name'] %> - Welcome to Our Rails App</h1>
    <br>
    <h2>Your Profile</h2>
    <% if @survey_profile.present? %>
      <%= render @survey_profile%>
    <%end%>
    <h2>Your History Responses</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Created at</th>
            <th>Invited by</th>
            <th>Your share code</th>
            <th>Actions</th>
          </tr>
        </thead>
        <% if !@survey_responses.nil?%>
          <tbody>
            <% @survey_responses.zip(@invitations).each do |response, invited_by| %>
              <tr>
                <td><%= response.created_at %></td>
                <td><%= invited_by %></td>
                <td><%= response.share_code %></td>
                <td><%= link_to "Show", survey_response_path(response) %></td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
    <%= link_to "Take Survey", new_survey_response_path, class: "btn btn-outline-primary"%>
  <% else%>
    <h1>Welcome to Our Rails App</h1>
    <h1>You are not logged in. Please login.</h1>
  <% end %>
</main>
