<%= form_with(model: survey_response) do |form| %>
  <% if survey_response.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(survey_response.errors.count, "error") %> prohibited this survey_response from being saved:</h2>
      <ul>
        <% survey_response.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :user_id, style: "display: block" %>
    <% user_id = @survey_response.try(:profile).try(:user_id)%>
    <%= form.number_field :user_id, :value => user_id %>
  </div>
  <div>
    <% @sections.each_with_index do |section, idx| %>
      <h2><%= section[:title] %></h2>
      <p><%= section[:prompt] %></p>

      <table>
        <tr>
          <th></th>
          <th>Strongly Disagree</th>
          <th>Disagree</th>
          <th>Agree</th>
          <th>Strongly Agree</th>
        </tr>
        <% @questions.where(section: idx).map do |question| %>
          <tr>
            <td><%= form.label question.text %></td>

            <% 4.times do |i| %>
              <% choice = survey_response.answers.where(question: question).first.try(:choice) %>
              <td><%= form.radio_button question.id, i, { checked: (i == choice) }%></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
