<%= form_with(model: survey_response) do |form| %>
  <% if survey_response.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(survey_response.errors.count, "error") %> prohibited this survey_response from being saved:</h2>
      <ul>
        <% survey_response.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>
  <div>
    <h2>Part 1: Leadership Behavior - Interpersonal</h2>
    <p>To what extent do you agree the following behaviors reflect your personal leadership behaviors?</p>
    <ol>
      <%# IMPORTANT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! %>
      <%# FORM INPUTS NEED TO BE TURNED INTO RADIO OPTIONS %>
      <li>
        <%= form.label :leads_by_example, style: "display: block" %>
        <%= form.number_field :leads_by_example %>
      </li>
      <li>
        <%= form.label :ability_to_juggle, style: "display: block" %>
        <%= form.number_field :ability_to_juggle %>
      </li>
      <li>
        <%= form.label :communicator, style: "display: block" %>
        <%= form.number_field :communicator %>
      </li>
    </ol>
  </div>
  <div>
    <h2>Part 2: Leadership Behavior - Interpersonal</h2>
    <p>To what extent do you agree the following behaviors reflect your personal leadership behaviors?</p>
    <ol>
      <li>
        <%= form.label :lifelong_learner, style: "display: block" %>
        <%= form.number_field :lifelong_learner %>
      </li>
      <li>
        <%= form.label :high_expectations, style: "display: block" %>
        <%= form.number_field :high_expectations %>
      </li>
      <li>
        <%= form.label :cooperative, style: "display: block" %>
        <%= form.number_field :cooperative %>
      </li>
      <li>
        <%= form.label :empathetic, style: "display: block" %>
        <%= form.number_field :empathetic %>
      </li>
      <li>
        <%= form.label :people_oriented, style: "display: block" %>
        <%= form.number_field :people_oriented %>
      </li>
    </ol>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
