<%= form_with(model: survey_response) do |form| %>
  <% if survey_response.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(survey_response.errors.count, "error") %> prohibited this survey_response from being saved:</h2>
      <ul>
        <% survey_response.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>
  <div>
    <% survey_sections.each do |section| %>
      <h2><%= section[:title] %></h2>
      <p><%= section[:prompt] %></p>

      <table>
        <tr>
          <th></th>
          <th>Strongly Disagree</th>
          <th>Disagree</th>
          <th>Agree</th>
          <th>Strongly Agree</th>
        </tr>
        <% section[:questions].each_with_index do |question, i| %>
          <tr>
            <td><%= form.label question %></td>

            <% 4.times do |i| %>
            <td><%= form.radio_button question, i, {checked: (i == survey_response[question]) ? 'checked': ''} %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
