<%= form_with(model: survey_response) do |form| %>
  <% if survey_response.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(survey_response.errors.count, "error") %> prohibited this survey_response from being saved:</h2>

      <ul>
        <% survey_response.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :leads_by_example, style: "display: block" %>
    <%= form.number_field :leads_by_example %>
  </div>

  <div>
    <%= form.label :ability_to_juggle, style: "display: block" %>
    <%= form.number_field :ability_to_juggle %>
  </div>

  <div>
    <%= form.label :communicator, style: "display: block" %>
    <%= form.number_field :communicator %>
  </div>

  <div>
    <%= form.label :lifelong_learner, style: "display: block" %>
    <%= form.number_field :lifelong_learner %>
  </div>

  <div>
    <%= form.label :high_expectations, style: "display: block" %>
    <%= form.number_field :high_expectations %>
  </div>

  <div>
    <%= form.label :cooperative, style: "display: block" %>
    <%= form.number_field :cooperative %>
  </div>

  <div>
    <%= form.label :empathetic, style: "display: block" %>
    <%= form.number_field :empathetic %>
  </div>

  <div>
    <%= form.label :people_oriented, style: "display: block" %>
    <%= form.number_field :people_oriented %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
