<div id="<%= dom_id survey_response %>">
  <p>
    <strong>User:</strong>
    <%= survey_response.user_id %>
  </p>

  <p>
    <strong>Leads by example:</strong>
    <%= survey_response.leads_by_example %>
  </p>

  <p>
    <strong>Ability to juggle:</strong>
    <%= survey_response.ability_to_juggle %>
  </p>

  <p>
    <strong>Communicator:</strong>
    <%= survey_response.communicator %>
  </p>

  <p>
    <strong>Lifelong learner:</strong>
    <%= survey_response.lifelong_learner %>
  </p>

  <p>
    <strong>High expectations:</strong>
    <%= survey_response.high_expectations %>
  </p>

  <p>
    <strong>Cooperative:</strong>
    <%= survey_response.cooperative %>
  </p>

  <p>
    <strong>Empathetic:</strong>
    <%= survey_response.empathetic %>
  </p>

  <p>
    <strong>People oriented:</strong>
    <%= survey_response.people_oriented %>
  </p>

</div>
