<p style="color: green"><%= notice %></p>

<h1>Survey responses</h1>

<%= form_with url: survey_responses_path, method: :get do %>
  <div class="form-group">
    <label for="query">Query by case number</label>
    <%= text_field_tag :query, params[:query], class: 'form-control', id: 'query' %>
  </div>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Share code</th>
        <th>Actions</th>
        <th>Answers</th>
      </tr>
    </thead>
    <tbody>
      <% @survey_responses.each do |response| %>
        <tr>
          <td><%= response.profile.user_id %></td>
          <td><%= response.profile.last_name %>, <%= response.profile.first_name %></td>
          <td><%= response.share_code%></td>
          <td><%= link_to "Show", response %></td>
          <% response.answers.map do |answer| %>
            <td><%= answer.choice %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New survey response", new_survey_response_path %>
