<p style="color: green"><%= notice %></p>

<h1>Survey responses</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @survey_responses.each do |response| %>
        <tr>
          <td><%= response.profile.user_id %></td>
          <td><%= response.profile.last_name %>, <%= response.profile.first_name %></td>
          <% response.answers.map do |answer| %>
            <td><%= answer.choice %></td>
          <% end %>
          <td><%= link_to "Show", response %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New survey response", new_survey_response_path %>
