<p style="color: green"><%= notice %></p>

<h1>Survey responses</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Leads by Example</th>
        <th>Ability to Juggle</th>
        <th>Communicator</th>
        <th>Lifelong Learner</th>
        <th>High Expectations</th>
        <th>Cooperative</th>
        <th>Empathetic</th>
        <th>People Oriented</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @survey_responses.each do |survey_response| %>
        <tr>
          <td><%= survey_response.user_id %></td>
          <td><%= survey_response.leads_by_example %></td>
          <td><%= survey_response.ability_to_juggle %></td>
          <td><%= survey_response.communicator %></td>
          <td><%= survey_response.lifelong_learner %></td>
          <td><%= survey_response.high_expectations %></td>
          <td><%= survey_response.cooperative %></td>
          <td><%= survey_response.empathetic %></td>
          <td><%= survey_response.people_oriented %></td>
          <td><%= link_to "Show", survey_response %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New survey response", new_survey_response_path %>