<p style="color: green"><%= notice %></p>

<h1>Survey responses</h1>
<br>
<div class="row d-flex justify-content-center">
  <div class="col-8">
    <%= form_with url: survey_responses_path, method: :get do %>
      <div class="input-group">
        <span class="input-group-text">Filter by Share Code</span>
        <%= text_field_tag :query, params[:query],
          {
            class: 'form-control',
            id: 'query',
            "aria-label" => "Filter by Share Code"
          }
        %>
        <%= submit_tag 'Search', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Share code</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @survey_responses.each do |response| %>
        <tr>
          <td><%= response.profile.user_id %></td>
          <td><%= response.profile.last_name %>, <%= response.profile.first_name %></td>
          <td><%= response.share_code%></td>
          <td><%= link_to "Show", response %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New survey response", survey_page_path(1) %>
