<p style="color: green"><%= notice %></p>
<%# FIXME: Move this to a stylesheet when we have time %>
<style>
  .section-header {
    cursor: pointer;
    user-select: none;
  }

  .section-header h4:before {
    content: '\25B6';
    font-size: .85em;
    min-width: 1.5rem;
  }

  .section-header[aria-expanded="true"] h4:before {
    content: '\25BC';
    font-size: .85em;
    min-width: 1.5rem;
  }

  tr {
    transition: height 0.0s ease;
  }

  tr.collapsing {
    height: auto;
    transition: height 0.0s ease;
  }

</style>

<% @superintendent_response = find_superintendent(@survey_response)%>
<% @average_of_teachers = average_of_teachers(@survey_response)%>
<% combined_view = @survey_response.profile.role == 'Principal' && !(@average_of_teachers.nil? && @superintendent_response.nil?) %>

<div class="container-lg">
  <h1 class="text-center">Your leadership type is: (tbd)</h1>
  <% if combined_view %>
  <div class="row d-flex justify-content-center">
    <div id="tetrahedron" class="col-6">
    </div>
  </div>
  <% end %>
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <h3>
        This tetrahedron represents the alignment of the four factors based on your leadership behaviors to align the four factors.
      </h3>
      <p style="text-align:justify;">
        The purpose of this qualitative study was to apply the Synergistic Leadership Theory (SLT) to the leadership experiences of five female superintendents leading successful school districts. The SLT is an interactive theory, which includes female experiences, but it applies to men and women. It provides a framework for leaders to align four factors that impact successful leadership: (a) attitudes, values, and beliefs; (b) leadership behaviors; (c) organizational structure; and (d) external forces. Four research questions guided my study: (a) What are the leadership behaviors of the superintendents? (b) Is the organizational structure of each district aligned with the superintendent’s leadership behaviors? (c) How do the leadership behaviors of the superintendent impact the relations between the district and the external forces? (d) Are the attitudes, values, and beliefs of the superintendent aligned to the attitudes, values, and beliefs of the school board member and the administrative team member
      </p>
    </div>
  </div>
  <hr>
  <% choices = ["Strongly Disagree", "Disagree", "Agree", "Strongly Agree"] %>
  <% sections = @survey_response.questions.map(&:section).uniq %>
  <% answers = sections.map {|section| [section, @survey_response.answers.select {|ans| ans.question.section == section}]}.to_h%>
  <div class="row d-flex justify-content-center">
    <div class="col-9">
      <br>

      <% sections.each do |section| %>
        <% answers[section] = answers[section].sort_by { |ans| ans.question_id } %>
        <% collapse_id = "section#{section}" %>

        <div class="section-header"
          data-bs-toggle="collapse"
          data-bs-target="#<%= collapse_id %>"
          aria-expanded="false"
          aria-controls="<%= collapse_id %>"
        >
          <div class="row d-flex justify-content-center">
            <h4 class="text-center col-8"><%= @sections[section][:title] %></h4>
          </div>

          <div class="row d-flex justify-content-center">
            <p class="text-center col-8"><%= @sections[section][:prompt] %></p>
          </div>
        </div>

        <div class="collapse" id="<%= collapse_id %>">
          <table class="table">
            <thead class="bg-aggie-maroon text-gray-100">
              <tr>
                <th>Question</th>
                <% if combined_view %>
                  <% if !@superintendent_response.nil? %>
                    <th>Superintendent</th>
                  <%end %>
                  <th>Your Response</th>
                  <% if !@average_of_teachers.nil? %>
                    <th>Teachers</th>
                  <%end%>
                <% else %>
                  <th>Response</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% answers[section].each do |ans| %>
                <% question_collapse_id = "question#{ans.question.id}" %>
                <tr
                  data-bs-toggle="collapse"
                  data-bs-target="#<%= question_collapse_id %>"
                  aria-expanded="false"
                  aria-controls="<%= question_collapse_id %>"
                >
                  <td><%= ans.question.text %></td>

                  <% if combined_view %>
                    <%if !@superintendent_response.nil?%>
                      <% @superintendent_choice = get_answer(@superintendent_response, ans.question.id)%>
                      <td><%=  @superintendent_choice.nil? ? "": choices[@superintendent_choice] %></td>
                    <%end%>
                    <td><%= choices[ans.choice] %></td>
                    <%if !@average_of_teachers.nil?%>
                      <td><%= @average_of_teachers[ans.question.id].nil? ?  "": choices[@average_of_teachers[ans.question.id].round()]%></td>
                    <%end%>
                  <% else %>
                    <td><%= choices[ans.choice] %></td>
                    <% 4.times do |i| %>
                    <td>
                      <input
                        type="radio"
                        disabled="disabled"
                        <%= 'checked="checked"' if i == ans.choice %>
                      >
                    </td>
                    <% end %>
                  <% end %>
                </tr>
                <tr class="collapse" id="<%= question_collapse_id %>">
                  <td colspan="6">
                      <%= ans.question.explanation %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
  <hr>
  <%# this is the view containing the link %>
    <div id="invitation-link-container" class="mt-4" style="display: none;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Invitation Link Created</h5>
          <p class="card-text">
            <span id="invitation-link"></span>
          </p>
          <button class="btn btn-primary" onclick="copyToClipboard()">Copy Link</button>
        </div>
      </div>
      <hr>
    </div>
    <script>
      function copyToClipboard() {
        var linkText = document.getElementById("invitation-link").innerText;
        navigator.clipboard.writeText(linkText)
          .then(() => {
            alert("Link copied to clipboard!");
          })
          .catch((error) => {
            console.error("Failed to copy link: ", error);
          });
      }
    </script>
    <div class="row d-flex justify-content-center">
      <div class="col-8 btn-group" role="group">
        <%= link_to "Edit Response",
            edit_survey_response_path(@survey_response),
            class: "btn btn-outline-primary"
      	%>
        <%= button_tag "Create Invitation",
			data: { parent_survey_response_id: @survey_response.id },
			id: "invitation-button",
			class: "btn btn-outline-success"
		%>
        <%= button_to "Delete Response",
            @survey_response,
            method: :delete,

            form_class: "btn btn-outline-danger",
            class: "btn-passthrough"
      	%>
      </div>
    </div>
    <%# show invitation link if it exist %>
    <script>
      function initializeInvitation() {
          var invitationButton = document.getElementById('invitation-button');
          var invitationLinkContainer = document.getElementById('invitation-link-container');
          var invitationLink = document.getElementById('invitation-link');

          invitationButton.addEventListener('click', function() {
      var parentSurveyResponseId = this.getAttribute('data-parent-survey-response-id');

      fetch('/invitations', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        },
        body: JSON.stringify({ parent_survey_response_id: parentSurveyResponseId })
      })
      .then(response => response.json())
      .then(data => {
        invitationLink.textContent = data.invitation_url;
        invitationLinkContainer.style.display = 'block';
      })
      .catch(error => {
        console.error('Error:', error);
      });
          });
        }

        if (document.readyState === 'loading') {
          document.addEventListener('DOMContentLoaded', initializeInvitation);
        } else {
          initializeInvitation();
        }
    </script>

  <br>
  <div class="row d-flex justify-content-center">
    <div class="col-6 text-center">
      <%= link_to "Back to survey responses", survey_responses_path %>
      <%= link_to "Back to home", root_path %>
    <div>
  </div>
</div>

<% if combined_view %>
<script type="module">
  import "tetrahedron"
</script>
<% end %>
