<div id="<%= dom_id survey_profile %>">

  <p>
    <strong>First name:</strong>
    <%= survey_profile.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= survey_profile.last_name %>
  </p>

  <p>
    <strong>Campus name:</strong>
    <%= survey_profile.campus_name %>
  </p>

  <p>
    <strong>District name:</strong>
    <%= survey_profile.district_name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= survey_profile.role %>
  </p>

</div>
