<div class="row d-flex" id="<%= dom_id survey_profile %>">
  <div class="col-6">
    <table class="table" style="--bs-border-width: 0">
      <tbody>
        <tr>
          <td style="width: 25%"><strong style="text-transform: uppercase">First Name</strong></td>
          <td><%= survey_profile.first_name %></td>
        </tr>

        <tr>
          <td style="width: 25%"><strong style="text-transform: uppercase">Last Name</strong></td>
          <td><%= survey_profile.last_name %></td>
        </tr>

        <tr>
          <td style="width: 25%"><strong style="text-transform: uppercase">Campus</strong></td>
          <td><%= survey_profile.campus_name %></td>
        </tr>

        <tr>
          <td style="width: 25%"><strong style="text-transform: uppercase">District</strong></td>
          <td><%= survey_profile.district_name %></td>
        </tr>

        <tr>
          <td style="width: 25%"><strong style="text-transform: uppercase">Role</strong></td>
          <td><%= survey_profile.role %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
