<h1>You've been invited to take a survey (...or have you?)</h1>
<p>You were invited by <%= @invitation.created_by.first_name %> <%= @invitation.created_by.last_name %>.</p>
<p>
  <%# <%= link_to "Take the Survey", survey_response_path(@invitation.parent_response), class: 'button-class' %>
  <% if session[:userinfo] && session[:invitation] %>
    <%= link_to "Take the Survey", new_survey_response_path(share_code: session[:invitation][:share_code]), class: 'button-class' %>
  <% else %>
    <%= button_to 'Take the Survey', '/auth/auth0', method: :post, data: { turbo: false }, class: "button-class" %>
  <% end %>
</p>