<header id="main-header" class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <%= link_to "School of Education & Human Development", root_path, class: "d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" %>
  <ul class="nav">
    <li class="nav-item">
      <%= link_to "Home", root_path, class: "nav-link #{'active' if current_page?(root_path)}", aria: { current: "page" } %>
    </li>
    <li class="nav-item">
      <%= link_to "About", about_path, class: "nav-link #{'active' if current_page?(about_path)}" %>
    </li>
    <li class="nav-item">
      <%= link_to "Survey Responses", survey_responses_path, class: "nav-link #{'active' if current_page?(survey_responses_path)}" %>
    </li>
    <li class="nav-item">
      <%= link_to "Survey Profiles", survey_profiles_path, class: "nav-link #{'active' if current_page?(survey_profiles_path)}" %>
    </li>
    <li class="nav-item">
      <% if session[:userinfo] %>
        <%= button_to 'Logout', 'auth/logout', method: :get, data: { turbo: false }, class: "nav-link" %>
      <% else %>
          <%= button_to 'Login', '/auth/auth0', method: :post, data: { turbo: false }, class: "nav-link" %>
      <% end %>
    </li>
  </ul>
</header>
